<!doctype html>
<html lang="en">
  <head>
  	<title>Details</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="css/style1.css">

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Add your details here</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-12">
					<div class="wrapper">
									<form method="POST" action="/login/profile/adddetails" id="contactForm" name="contactForm" class="contactForm">
										<div class="row">
											<div class="col-md-4">
												<div class="form-group">
													<label class="label" for="name">Full Name</label>
													<input type="text" class="form-control" name="name" placeholder="Enter your name">
												</div>
											</div>
											<div class="col-md-4"> 
												<div class="form-group">
													<label class="label" for="email">Enrollment No:</label>
													<input type="email" class="form-control" id="email" name="enrollNo" placeholder="Enter EnrollNo.">
												</div>
											
											</div>
											
											<div class="col-md-4">
												<div class="form-group">
													<label class="label" for="subject">Email</label>
													<input type="text" class="form-control" id="subject" name="email" placeholder="Enter email">
												</div>
											</div>

											<div class="col-md-4">
												<div class="form-group">
													<label class="label" for="subject">Mobile No.:</label>
													<input type="text" class="form-control" id="subject" name="mobileNo" placeholder="Enter your Mobile No.">
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label class="label" for="subject"> Current CGPA:</label> 
													<input type="number" step="0.01" class="form-control" id="subject" name="cgpa" placeholder="CGPA" >
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label class="label" for="subject">Address</label>
													<input type="text" class="form-control" id="" name="" placeholder="Enter address">
												</div>
											</div>

											<div class="col-md-4">
												<div class="form-group">
													<label class="label" for="subject"> Year</label>
													<select name="year" class="form-control" aria-placeholder="Choose your year">
														<option value="1st">1st</option>
														<option value="2nd">2nd</option>
														<option value="3rd">3rd</option>
														<option value="4th">4th</option>
														
													</select>
													
												</div>
											</div>

											<div class="col-md-4">
												<div class="form-group">
													<label class="label" for="subject"> Branch:</label>
													 <select name="branch" class="form-control" aria-placeholder="Choose your Branch">
														<option value="CS">CS</option>
														<option value="IT">IT</option>
														<option value="EC">EC</option>
														<option value="CS-AIML">CS-AIML</option>
														<option value="CSIT">CSIT</option>
													</select>
												</div>
											</div>

											<div class="col-md-4">
												<div class="form-group">
													<label class="label" for="subject"> Section:</label>
													 <select name="section" class="form-control" aria-placeholder="Choose your section">
														<option value="1">1</option>
														<option value="2">2</option>
														<option value="3">3</option>
														<option value="4">4</option>
														<option value="5">5</option>
													</select>
												</div>
											</div>

											

											<div class="col-md-4">
												<div class="form-group">
													<label class="label" for="subject"> Class 10th Details:</label> <br>
													<label class="label" for="subject"> School Name:</label> <input type="text"   class="form-control" name="tenthschool" placeholder="Enter School Name" >
													<label class="label" for="subject"> Percentage:</label> <input type="text" class="form-control" name="tenthmarks" placeholder="Percentage">
													<label class="label" for="subject"> Year:</label> <input type="text" class="form-control" name="tenthyear" placeholder="Year">
												</div>
											</div>

											<div class="col-md-4">
												<div class="form-group">
													<label class="label" for="subject"> Class 12th Details:</label> <br>
													<label class="label" for="subject"> School Name:</label> <input type="text"   class="form-control" name="twelthschool" placeholder="Enter School Name" >
													<label class="label" for="subject"> Percentage:</label> <input type="text" class="form-control" name="twelthmarks" placeholder="Percentage">
													<label class="label" for="subject"> Year:</label> <input type="text" class="form-control" name="twelthyear" placeholder="Year">
												</div>
											</div>

											<div class="col-md-4">
												<div class="form-group">
													<label class="label" for="subject"> College Details:</label> <br>
													<label class="label" for="subject"> College Name:</label> <input type="text"   class="form-control" name="" placeholder="Enter School Name" >
													<label class="label" for="subject"> CGPA:</label> <input type="text" class="form-control" name="" placeholder="CGPA">
													<label class="label" for="subject">Passing Year:</label> <input type="text" class="form-control" name="" placeholder="Year">
												</div>
											</div>

											<div class="col-md-4">
												<div class="form-group">
													<label class="label" for="subject"> Cultural:</label>
													 <select name="cultural" class="form-control" aria-placeholder="Choose your section">
														<option value="Dance">Dance</option>
														<option value="Singing">Singing</option>
														<option value="Rap">Rap</option>
														<option value="Poetry">Poetry</option>
													</select>
												</div>
											</div>

											<div class="col-md-4">
												<div class="form-group">
													<label class="label" for="subject"> Technical:</label>
													 <select name="technical" class="form-control" aria-placeholder="Choose your section">
														<option value="C">C</option>
														<option value="C++">C++</option>
														<option value="Python">Python</option>
														<option value="Java">Java</option>											
													</select>
												</div>
											</div>


											<div class="col-md-4">
												<div class="form-group">
													<label class="label" for="subject"> Sports:</label>
													 <select name="sports" class="form-control" aria-placeholder="Choose your section">
														<option value="Cricket">Cricket</option>
														<option value="Kho-Kho">Kho-Kho</option>
														<option value="Football">Football</option>
														<option value="Volleyball">Volleyball</option>
															
													</select>
												</div>
											</div>

											<div class="col-md-4">
												<div class="form-group">
													<label class="label" for="subject"> Projects:</label> <br>
													<label class="label" for="subject"> Project Title:</label> <input type="text"   class="form-control" name="title1" placeholder="Enter Project Name" >
													<label class="label" for="subject"> Project Description:</label> <input type="text" class="form-control" name="description1" placeholder="Description">
												</div>
											</div>

											<div class="col-md-4">
												<div class="form-group">
													<label class="label" for="subject"> Project 2:</label> <br>
													<label class="label" for="subject"> Project Title:</label> <input type="text"   class="form-control" name="title2" placeholder="Enter Project Name" >
													<label class="label" for="subject"> Project Description:</label> <input type="text" class="form-control" name="description2" placeholder="Description">
												</div>
											</div>

											<div class="col-md-4">
												<div class="form-group">
													<label class="label" for="subject"> Project 3:</label> <br>
													<label class="label" for="subject"> Project Title:</label> <input type="text"   class="form-control" name="" placeholder="Enter Project Name" >
													<label class="label" for="subject"> Project Description:</label> <input type="text" class="form-control" name="" placeholder="Description">
												</div>
											</div>

											<div class="col-md-4">
												<div class="form-group">
													<label class="label" for="subject"> Internship Detail 1:</label> <br>
													<label class="label" for="subject"> Company Name:</label> <input type="text"   class="form-control" name="designation1" placeholder="Enter Company Name" >
													<label class="label" for="subject"> Designation:</label> <input type="text" class="form-control" name="companyname1" placeholder="Designation">
													<label class="label" for="subject">Starting Date:</label> <input type="text" class="form-control" name="startdate" placeholder="Year">
												</div>
											</div>

											<div class="col-md-4">
												<div class="form-group">
													<label class="label" for="subject"> Internship Detail 2:</label> <br>
													<label class="label" for="subject"> Company Name:</label> <input type="text"   class="form-control" name="designation2" placeholder="Enter Company Name" >
													<label class="label" for="subject"> Designation:</label> <input type="text" class="form-control" name="companyname2" placeholder="Designation">
													<label class="label" for="subject">Starting Date:</label> <input type="text" class="form-control" name="startdate2" placeholder="Year">
												</div>
											</div>

											<div class="col-md-4">
												<div class="form-group">
													<label class="label" for="subject"> Internship Detail 1:</label> <br>
													<label class="label" for="subject"> Company Name:</label> <input type="text"   class="form-control" name="" placeholder="Enter Company Name" >
													<label class="label" for="subject"> Designation:</label> <input type="text" class="form-control" name="" placeholder="Designation">
													<label class="label" for="subject">Starting Date:</label> <input type="text" class="form-control" name="" placeholder="Year">
												</div>
											</div>


											<div class="col-md-4">
												<div class="form-group">
													<label class="label" for="subject"> Certificate 1:</label>
													 <select name="certificate1" class="form-control" aria-placeholder="Choose your section">
														<option value="Nptel DBMS">Nptel DBMS</option>
														<option value="AWS">AWS</option>
														<option value="Nptel Cyber Security">Nptel Cyber Security</option>
														<option value="Nptel Programming in Java">Nptel Programming in Java</option>
														<option value="None">None</option>									
													</select>
												</div>
											</div>

											<div class="col-md-4">
												<div class="form-group">
													<label class="label" for="subject"> Certificate 2:</label>
													 <select name="certificate2" class="form-control" aria-placeholder="Choose your section">
														<option value="Nptel DBMS">Nptel DBMS</option>
														<option value="AWS">AWS</option>
														<option value="Nptel Cyber Security">Nptel Cyber Security</option>
														<option value="Nptel Programming in Java">Nptel Programming in Java</option>			
														<option value="None">None</option>							
													</select>
												</div>
											</div>

											<div class="col-md-4">
												<div class="form-group">
													<label class="label" for="subject"> Certificate 3:</label>
													 <select name="" class="form-control" aria-placeholder="Choose your section">
														<option value="Nptel DBMS">Nptel DBMS</option>
														<option value="AWS">AWS</option>
														<option value="Nptel Cyber Security">Nptel Cyber Security</option>
														<option value="Nptel Programming in Java">Nptel Programming in Java</option>
														<option value="None">None</option>										
													</select>
												</div>
											</div>

											<div class="col-md-4">
												<div class="form-group">
													<label class="label" for="subject">Github Profile:</label>
													<input type="text" class="form-control" id="subject" name="github" placeholder="GitHub ID">
												</div>
											</div>

											<div class="col-md-4">
												<div class="form-group">
													<label class="label" for="subject">LinkedIn Profile:</label>
													<input type="text" class="form-control" id="subject" name="linkedin" placeholder="LinkedIn ID">
												</div>
											</div>

											<div class="col-md-4">
												<div class="form-group">
													<label class="label" for="subject">Insta Profile:</label>
													<input type="text" class="form-control" id="subject" name="" placeholder="Insta ID">
												</div>
											</div>

											
											<button>Sumbit Details</button>
									
										</div>
									</form>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

    
	</body>
</html>

