<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
</head>
<body>
    <h2>This is the Faculty's login page</h2>
    <form method="post" action="/facultylogin/profile">
        
        Username:<input type="text" name="enteredfacultyId" placeholder="Enter FacultyId"><br><br>
        Password:<input type="password" name="enteredpassword" placeholder="Enter Password"><br><br>
        <button>Login</button><br>
      

    </form>
</body>
</html>