<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
</head>
<body>
    <h2>This is the login page</h2>
    <form method="post" action="/login/profile">
        
        Username:<input type="text" name="enteredenrollNo" placeholder="Enter EnrollNo."><br><br>
        Password:<input type="password" name="enteredpassword" placeholder="Enter Password"><br><br>
        <button>Login</button><br>
        <h3>Don't have an account?</h3>
        <a href="http://localhost:8080/signup">SignUp Here</a>

    </form>
</body>
</html>