<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h2>This is the profile page</h2>
     <h3>Name: <%= user.name %></h3>
     <h3>EnrollNo: <%= user.enrollNo %></h3>
     <a href="http://localhost:8080/login/profile/adddetails">Add Details</a>
   
</body>
</html>